<div class="col-4 col-12-medium">
	<div id="sidebar">

		<section>
			<header class="major">
				<h2>Добро пожаловать!</h2>
			</header>
			<p>
				Вы ищете идеальное путешествие своей мечты? Тогда вы пришли по адресу! Наша туристическая фирма готова предложить вам незабываемые впечатления и увлекательные приключения по всему миру.
			</p>
			<footer>
				<a asp-area="" asp_controller="Services" asp-action="Index" class="button icon solid fa-info-circle">Услуги</a>
			</footer>
		</section>
	</div>
</div>